<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++        -->
<!-- Config file, contains sensorhub hostname and sensor         -->
<!-- parameters                                                  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++        -->
<config>

<hostname>oswald06</hostname>
<hostport>10001   </hostport>

<orcon>
<command id = "0" string = "venti low" />
<command id = "1" string = "venti normal" />
<command id = "2" string = "venti high" />
</orcon>

</config>
