<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++        -->
<!-- Config file, contains sensorhub hostname and sensor         -->
<!-- parameters                                                  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++        -->
<config>

<hostname>oswald-03</hostname>
<hostport>10001   </hostport>

<onewire>
<node id = "10D8774B000800A0" db = "ventilatie/aww_uit.rrd"      />
<node id = "10ED8C4B00080070" db = "ventilatie/unit_ext_in.rrd"  />
<node id = "10A1692D000800E9" db = "ventilatie/unit_int_uit.rrd" />
<node id = "10A7803B00080043" db = "ventilatie/unit_int_in.rrd"  />
</onewire> 

<sht>
<node id = "1"                db = "ventilatie/humi_binnen.rrd"  />
</sht>

<wireless>
<node id = "1"                db = "light_level/node01.rrd"      />
</wireless>
</config>
