<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++        -->
<!-- Config file, contains netnode hostname and                  -->
<!-- parameters                                                  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++        -->
<config>

<hostname>solarnode</hostname>
<hostport>10001   </hostport>

<command>S</command>
<db name="pv.rrd" />

</config>
